.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  height: 300px;
  width: 300px !important;
}
.card {
  border: none !important;
  margin: 10px !important;
}
.addBin {
  width: 200px;
}
.boundingBox {
  height: 500px;
  width: 500px;
}
.displayImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.getmore {
  width: 200px !important;
  margin-bottom: 1rem !important;
  margin: 0 auto;
}
