body {
  margin: 0;
  font-family: "Courier New", Courier, Monaco !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem !important;
  /* background-color: #08090a !important; */
}

code {
  font-family: "Courier New", Courier, Monaco;
}
@media (max-width: 576px) {
  .xs {
    color: red;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  .sm {
    color: red;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
  .md {
    color: red;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .lg {
    color: red;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .xl {
    color: red;
  }
}

a:hover,
a:focus {
  background-color: red !important;
  color: white !important;
}
.h5 {
  font-size: 1rem !important;
}
.card {
  padding: 10px;
  border: none !important;
}
.card-img-top {
  float: left;
  width: 250px !important;
  height: 300px !important;
  object-fit: fill;
  box-shadow: 5px 6px 12px 4px #666;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  color: white !important;
}
.card-title:hover {
  color: white;
  background-color: red !important;
}
.headRow {
  margin-top: 25px;
}
.paginateDesign {
  display: flex;
  align-content: stretch;
  justify-content: center;
}
.filterMargin {
  margin-top: 8px !important;
}
.navbar {
  position: relative;
}
.navbar-brand {
  padding-top: 0px !important;
  position: absolute;
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}
.logo-size {
  height: 50px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.nav-link:focus {
  color: white !important;
}
